<div class="flex min-h-full flex-col justify-center p-6 lg:px-8">
  <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Edit <%= resource_name.to_s.humanize %> Profile</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class:"space-y-6") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, class:'block text-sm font-medium leading-6 text-gray-900' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#1F2937] sm:text-sm sm:leading-6' %>
      </div>
      <br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :password, class:'block text-sm font-medium leading-6 text-gray-900' %> <i class='text-xs'>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#1F2937] sm:text-sm sm:leading-6' %>
        <% if @minimum_password_length %>
          <i class='text-xs'><%= @minimum_password_length %> characters minimum</i>
        <% end %>
      </div>
      <br />
      <div class="field">
        <%= f.label :password_confirmation, class:'block text-sm font-medium leading-6 text-gray-900' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#1F2937] sm:text-sm sm:leading-6' %>
      </div>
      <br />
      <div class="field">
        <%= f.label :current_password, class:'block text-sm font-medium leading-6 text-gray-900' %> <i class='text-xs'>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#1F2937] sm:text-sm sm:leading-6' %>
      </div>
      <br />
      <div class="actions flex space-x-2">
      <%= link_to "Cancel", :back, class:"flex cursor-pointer w-full justify-center rounded-md bg-transparent px-3 py-1.5 text-sm font-semibold leading-6 text-[#18202C] border-2 border-[#18202C] shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        <%= f.submit "Update", class:"flex cursor-pointer w-full justify-center rounded-md bg-[#1F2937] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#18202C] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
  <div class="mt-10 text-center text-sm text-red-500">
    <h3>Delete your account</h3>
    <div>This can't be undone!</div> <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'bg-red-500 p-2 rounded-md text-white' %>
    </div>
</div>
